<a asp-action="all" asp-controller="Books">Все книги</a>
<br />
<a asp-action="add" asp-controller="Books">Добавить книгу</a>
<br />
<a asp-action="view-orders" asp-controller="Books">Просмотреть заказы</a>