@model RegisterViewModel

<form method="post" asp-controller="Account" asp-action="register-post">
    <input type="text" placeholder="Имя" asp-for="Name" />
    <br />
    <input type="text" placeholder="Фамилия" asp-for="SurName" />
    <br />
    <input type="text" placeholder="E-mail" asp-for="Email" />
    <br />
    <input type="text" placeholder="Телефон" asp-for="Phone" />
    <br />
    <input type="text" placeholder="Пароль" asp-for="Password" />
    <br />
    <input type="submit" value="Зарегистрироваться"/>
</form>